@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'helpers/_fonts';
@import 'helpers/_base';
@import 'components/_buttons';
@import 'components/_header';
@import 'components/_footer';
@import 'libs/_popup';
@import 'libs/_jquerymCustomScrollbar';
@import 'pages/_home';


.input {
  @include input-placeholder {
    color: green;
    opacity: 1;
  }
}

.block {
  text-align: center;
  padding: 50px;
}

.hero {
  height: 100vh;
  background-color: #f75252;
}

.next {
  height: 45vh;;
  background-color: #7e52f7;
}
.scroll-block {
  width: 48%;
  height: 200px;
}

@import 'helpers/_media'